<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" target="_" href="https://github.com/python151/">Github</a></li>
        <li><a class="text-muted" target="_" href="https://stackoverflow.com/users/10033231/python151">Stack overflow</a></li>
        <li><a class="text-muted" href="tel:8179882615">(817) 988-2615</a></li>
        <li><a class="text-muted" href="mailto:Dogm646@gmail.com">Dogm646@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Projects</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://pensive-brown-69efaa.netlify.app/">GitScript</a></li>
        <li><a class="text-muted" href="https://millerrecipe.pythonanywhere.com/">Family Recipe Book</a></li>
        <li><a class="text-muted" href="https://pcselect.pythonanywhere.com/">PC Select</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Other</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/admin/">Admin</a></li>
        <li><a class="text-muted" href="/Resume">Resume</a></li>
      </ul>
    </div>
  </div>
</footer>