{% extends "temps/base.html" %}

{% block body %}

<div class="container">
    <span class="display-4">About</span>
    <br>
    <div class="lead">
        I am a young programmer that can code with languages and technologies such as Python, C, C++, Java, React, React-native, HTML, CSS, Django, Flask, TypeScript (and JavaScript), Node.js, Express. I am a hobbyist coder and have contributed to open source projects such as Linux (the kernal), Firefox, and Blender. This has given me experience in a variety of technologies, and working with a variety of people.
    </div>
</div>

{% endblock body %}