{% extends "temps/base.html" %}

{% block body %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bigattraction">
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    <div class="col-md-5 p-lg-5 mx-auto my-5 main">
      <h1 class="display-3 font-weight-normal">Matthew Miller</h1>
      <p class="lead font-weight-normal">Full stack developer with a focus on backend engineering.</p>
      <a class="btn btn-outline-secondary" href="/About">About Me</a>
      <a class="btn btn-outline-secondary" href="/Resume" style="margin-left: 1em">Resume</a>
    </div>
</div>

<div class="row">
    {% for project in projects %}
        <div class="card col" style="min-width: 20.5rem; margin: 2em;">
            <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a target="_" href="{{project.link}}" class="btn btn-primary card-link">Go to project</a>
                <a href="/project/{{project.id}}/" class="btn btn-primary card-link">Learn More</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}